/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 300px;
  min-block-size: 100dvb;
  color: black;
  font-family: var(--page-main-font-family);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--page-background);
  align-items: center;
  background-color: var(--background-color);
}

.header {
  margin: 100px auto 100px;
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--page-support-font-family);
  border: 2px solid black;
  width: 100%;
  max-width: 696px;
  background-color: var(--background-color);
}

.page-title {
  font-size: clamp(3.0625rem, 2.7993rem + 1.4035vw, 4.0625rem);
  line-height: 65px;
  margin-top: 130px;
  margin-bottom: 20px;
}

.page-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 130px;
  text-transform: uppercase;
}

.main {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 60px;
  padding-bottom: 100px;
}

.card {
  border: 2px solid black;
  width: 100%;
  max-width: 696px;
  background-color: var(--background-color);
  margin: auto;
}

.cards-list {
  display: grid;
  gap: 55px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  padding: 5px 10px;
}

.card-header {
  border-block-end: 2px solid var(--text-color, #000000);
  padding: 5px 10px;
}

.card-img-all {
  position: relative;
  overflow: hidden;
}

.card-img-html {
  position: absolute;
  z-index: 1;
  color: black;
  font-family: var(--page-support-font-family);
  font-size: 14px;
  text-shadow: 0 0 1px var(--shadow);
  top: 25px;
  right: 15px;
}

.card-content {
  display: grid;
  font-size: 18px;
  gap: 27px;
  line-height: 21px;
  padding-top: 22px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
}

.card-bottom {
  display: flex;
  justify-content: end;
  padding: 22px;
}

.card__icon-button {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__like-button {
  position: relative;
  border: 2px solid black;
  padding: 10px 35px;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--page-support-font-family);
  z-index: 1;
  background-color: transparent;
  width: 130px;
  height: 38px;
}

.like-icon {
  height: 35px;
  width: 40px;
}

.button__text {
  color: var(--text-color-button);
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-opacity {
  filter: opacity(50%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-contrast {
  filter: contrast(180%);
}

.filter-grayscale-full {
  filter: grayscale(100%);
}

.filter-none {
  filter: invert(100%);
}

.filter-combine {
  filter: grayscale(50%) blur(5px) contrast(80%);
}

.button {
  position: relative;
  border: 2px solid black;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--page-support-font-family);
  z-index: 1;
  background-color: white;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--like-contour-color);
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--like-contour-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover:before {
  transform: scaleX(1);
}

.modal {
  border: 2px solid var(--like-contour-color);
  padding: 25px 30px;
  width: 353px;
  height: 191px;
  font-family: var(--page-support-font-family);
  color: var(--like-contour-color);
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal-window {
  display: flex;
  align-items: center;
  gap: 15px;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--like-contour-color);
}

.modal-window-button {
  inline-size: 100%;
}

.save-icon {
  width: 21px;
  height: 21px;
  color: var(--text-color-button);
  mix-blend-mode: difference;
  height: 30px;
}

.save-icon-ok {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.button-save {
  width: 335px;
  height: 55px;
}

.button-ok {
  text-transform: uppercase;
}

.modal-window-button {
  padding: 10px 36px;
}

.modal-text {
  line-height: 21px;
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
    width: 306px;
    height: 84px;
    padding: 0;
  }

  .save-icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .modal {
    width: 341px;
    padding: 27px;
  }

  .header {
    width: 375px;
  }

  .card {
    max-width: 375px;
  }

  .card-img {
    max-width: 375px;
    max-height: 375px;
  }

  .button-ok {
    padding: 10px 35px;
  }

  .page-title {
    margin-top: 115px;
    margin-bottom: 10px;
  }

  .page-subtitle {
    margin-bottom: 120px;
  }
}

@supports {
  .card-img-html {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
    text-stroke: 1px var(--background-color, #ffffff);
  }
}
