:root{
    --page-main-ff:"Inter", sans-serif;   
    --page-main-fw:400;
    --page-support-ff:"PressStart2P",sans-serif;
    --bg-color:white;
    --like-mb-color:none;
    --like-cc:black;
    --like-sc:red;
    --shadow:white;
    --text-color:white;
    --page-background: repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
